<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../public/css/main.css">
  <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
  <title>TOGETHER</title>
</head>
<body>
  <nav>
  <a class="home" href="/home/"><h1>TOGETHER</h1></a>
  <a class="study" href="/for_study/"><h1>스터디 모집</h1></a>
  <a class="together" href="/together_study/"><h1>함께 공부해요</h1></a>
</nav>
<div class="options">
<aside>
  <section>
    search options
  </section>
</aside>
</div>
<div class="results">
<article>
  search results
</article>
</div>
</body>
</html>
