<!doctype html>
<html>
  <head>
    <title>TOGETHER</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../public/css/main.css">
  </head>
  <body>
  <nav>
  <a class="home" href="/home/"><h1>TOGETHER</h1></a>
  <a class="study" href="/for_study/"><h1>스터디 모집</h1></a>
  <a class="together" href="/together_study/"><h1>함께 공부해요</h1></a>
</nav>
    <h1>
      <strong>'TOGETHER'</strong>
    </h1>
    <h2>
      왜 TOGETHER 일까요?
    </h2>
    <h3>
      To gather? Be together!
    </h3>
    <img src = "/fig1/"width = "600px" , height = "400px" , align ="center">
    <p>
      이제 우리는 더 똑똑해질 수 있습니다.
    </p>
    <br>
      하나의 네트워크 공간 안에서 동일한 시간의 흐름속에 놓인 우리들은 문제점을 공유하고 해결 방법을 논의합니다.

    <img src = "/fig2/" width = "600px", height = "600px", align ="center">
    <p>
    To gather
  </p>
  <br />해결이 안 되는 문제가 있다면 스스로 모임을 구성해보세요. 분명히 나와 같은 고민을 갖고 있는 사람이 있을거에요.
    <p>
      Be Together
    </p>
    <br />이미 나와 같은 고민을 하고 있었던 사람이 있지 않았을까요? 모임을 찾고 함께 문제에 대해 고민해봐요.




  </body>
</html>
